version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_FIREBASE_API_KEY: AIzaSyBEu2tje8gAZkP3q9XiULehL1XmzZEjHtU
        VITE_FIREBASE_AUTH_DOMAIN: test-task-data-storage.firebaseapp.com
        VITE_FIREBASE_PROJECT_ID: test-task-data-storage
        VITE_FIREBASE_STORAGE_BUCKET: test-task-data-storage.firebasestorage.app
        VITE_FIREBASE_MESSAGING_SENDER_ID: 873342260566
        VITE_FIREBASE_APP_ID: 1:873342260566:web:a65621e227092a421a72f7
    container_name: dataroom-app
    ports:
      - "3000:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

